@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.navunderlink::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #9A18CA;
}
body {
  font-family: 'Inter', sans-serif;
}
.slick-slider, .slick-list {
  width: 100% !important;
  overflow: hidden !important;
}

.slick-slide > div {
  width: 100% !important;
}
